# macOS
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcuserstate
*.moved-aside
DerivedData/
.idea/

# Xcode workspace
xcshareddata/WorkspaceSettings.xcsettings
project.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# Swift Package Manager binary artifacts
.artifacts/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Bundler
.bundle/

# Logs
*.log

# Temporary
*.tmp
*.swp

# Playgrounds
timeline.xctimeline
playground.xcworkspace